<!DOCTYPE html>
html(lang='en')
head
	meta(charset="UTF-8")
	title Document
	link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,900&subset=cyrillic' rel='stylesheet')
	script(src='https://use.fontawesome.com/5e0e18a117.js')
	script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js')
	script(type='text/javascript' src='https://secure.skypeassets.com/i/scom/js/skype-uri.js')
	script(type='text/javascript' src='./js/main.js')
	link(href='./css/main.css' rel='stylesheet')

body#body
	.background#background(hidden)
	.background-cover#backgroundCover
	.card#card
		.card__main-info
			h1.main-info__name
				| OLEG LEMESHKO
			.main-info__age#age
			.main-info__contact-block
				.contact-block__address.info-block
					.address__icon.icon
						i(aria-hidden='true').fa.fa-map-marker
					| Saint-Petersburg, Russia
				.contact-block__phone.info-block
					.phone_icon.icon
						i(aria-hidden='true').fa.fa-phone
					| +7 (950) 028 10 79
				a(href='mailto:ollemesh@gmail.com').contact-block__mail.info-block.clickable
					.mail__icon.icon
						i(aria-hidden='true').fa.fa-envelope
					| ollemesh@gmail.com
				a(herf='').contact-block__other-contact.clickable#contacts other contacts
			.main-info__CV-block
				a.CV-block__pdf.info-block.clickable(href='cv.pdf' download='Lemeshko Oleg Vadimovich')
					.pdf__icon.icon
						i(aria-hidden='true').fa.fa-file-pdf-o
					| download my CV (PDF)
				a.CV-block__hh.info-block.clickable(href='https://spb.hh.ru/resume/eef045a5ff02df80f10039ed1f5a4431506730')
					.hh__icon.icon
						i(aria-hidden='true').fa.fa-circle-thin
					| my CV in HeadHunter
		.card__work-experiance
			h1.work-experiance__header
				p JavaScript developer
			.work-experiance__skills
				h2.skills__header.second-header
					| Skills:
				ul.skills__list
					li.skills__item JavaScript (ES2015 / ES6)
					li.skills__item HTML
					li.skills__item CSS
						p
							| Understanding popular frameworks
							| and web technologies:
							| Angular, Ember, React, Git, Handlebars,
							| BEM, Stylus, Jade, MV*, NodeJS, OOP.
			.work-experiance__examples
				.examples
					h2.examples__header.second-header
						| Work examples:
					button(data-type='jsCarousel').examples__js.examples__button.clickable
						| JavaScript Projects
					button(data-type='webPagesCarousel').examples__web-pages.examples__button.clickable
						| Web Pages

script.just#otherContactsTemplate(type='text/x-handlebars-template')
	.additionalContacts__list
		a(href='skype:ollemesh?add').additionalContacts__item
			i(aria-hidden='true').additionalContacts__icon.fa.fa-skype.icon
			| ollemesh
		a(href='https://www.linkedin.com/in/ollemesh?trk=hp-identity-name').additionalContacts__item
			i(aria-hidden='true').additionalContacts__icon.fa.fa-linkedin-square.icon
			| linked-in

script#carouselTamplate(type='text/x-handlebars-template')
	.slide#slide
		h1.slide__header
			{{header}}
			a.slide__git-hub.fa.fa-github.clickable(href='{{gitHubLink}}')
		.slide__examples-switcher#switcher {{exampleKind}}
		.slide__arrow.fa.fa-chevron-left.clickable#previousArrow
		.slide__project-preview( data-link='{{exampleLink}}' style='background: url({{preview}}) top left / cover;' )
		p.slide__text 
			{{text}}
		.slide__arrow.fa.fa-chevron-right.clickable#nextArrow
		.slide__points-bar#pointsBar 
			{{getPointsHTML slidesQuantity index}}